# dont upload intellij idea settings
.idea/
dont upload intellij project file
*.iml
# dont upload compiled Java files
*.class

# dont upload compiled output
out/
# dont upload maven build files
target/
# dont upload old file-storage data
students.txt